<?xml version="1.0"?>
<ruleset name="Shipping Rules Tester">
	<description>WordPress Coding Standards for Shipping Rules Tester.</description>
	<arg name="extensions" value="php" />
	<rule ref="WordPress">
		<properties>
			<property name="custom_capabilities" type="array">
				<element value="manage_woocommerce" />
			</property>
		</properties>
	</rule>
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="ap-shipping-rules-tester-for-woocommerce" />
			</property>
		</properties>
	</rule>
	<file>shipping-rules-tester-for-woocommerce.php</file>
	<file>src</file>
	<file>templates</file>
	<file>uninstall.php</file>
	<exclude name="WordPress.Files.FileName.InvalidClassFileName" />
	<exclude-pattern>/vendor/*</exclude-pattern>
	<exclude-pattern>/tests/*</exclude-pattern>
	<exclude-pattern>/stubs/*</exclude-pattern>
	<exclude-pattern>/phpstan-bootstrap.php</exclude-pattern>
</ruleset>
